---
import Index from '../components'
import Footer from '../components/Footer'
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>URL expander</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
			rel="stylesheet">
	</head>

	<body>
		<style>
			body {
				background: #1d1d1d;
			}
		</style>
		<Index client:only="preact" />
		<Footer />
	</body>

</html>